<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation=
            "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
             http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="url" value="jdbc:mysql://${juxta.ws.db.host}/juxta_ws?useUnicode=yes&amp;characterEncoding=UTF-8"/>
        <property name="username" value="${juxta.ws.db.user}"/>
        <property name="password" value="${juxta.ws.db.password}"/>
    </bean>
    
    <jdbc:initialize-database data-source="dataSource">
        <jdbc:script location="classpath:/eu/interedition/text/rdbms/mysql-schema.sql"/>
        <jdbc:script location="classpath:/juxta-ws-mysql-schema.sql"/>
    </jdbc:initialize-database>
    
</beans>